<li>
    <a class="nav-link" href="{{ path('show_cart') }}">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <i class="badge-pill">{{ cartservice.getNumProducts }}</i>
    </a>
</li>
